# Server Port Configuration
PORT=

# Node Environment (development | production)
NODE_ENV=

# Secret Keys
JWT_SECRET=
ENCRYPTION_KEY=

# Influx Heartbeat Microservice URL
HEARTBEAT_URL=

# InfluxDB v2 Data Storage & Querying
INFLUX_URL=
INFLUX_TOKEN=
INFLUX_ORG=
INFLUX_DEFAULT_BUCKET=

# POD V3 PostgreSQL Database Credentials
POD_DB_USER=
POD_DB_PASS=
POD_DB_NAME=
POD_DB_PORT=