# Server Port Configuration
PORT=5002

# Node Environment (development | production)
NODE_ENV=development

# Secret Keys
JWT_SECRET="your_jwt_secret_here"
ENCRYPTION_KEY="32_character_hex_or_passphrase_for_credentials"

# Influx Heartbeat Microservice URL
HEARTBEAT_URL="http://10.20.10.3:2880/heartbeat"
