# Server Port Configuration
PORT=

# Node Environment (development | production)
NODE_ENV=

# Secret Keys
JWT_SECRET=
ENCRYPTION_KEY=

# Influx Heartbeat Microservice URL
HEARTBEAT_URL=

# POD V3 PostgreSQL Database Credentials
POD_DB_USER=
POD_DB_PASS=
POD_DB_NAME=
POD_DB_PORT=